
.facebook {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, yellow, gold, goldenrod);
    margin: 20px 20px;
    color: blue;
    box-shadow: 0 6px 12px whitesmoke;
    border: 1px solid yellow;
}

.facebook:active {
    transform: scale(0.95);
}
